{% extends 'base.html.twig' %}

{% block title %}My documents!
{% endblock %}

{% block body %}
	<h1>My documents</h1>
	<div class="container mt-4">
		<div class="row">
			{% for doc in documents %}
				<embed src="/uploads/{{doc.name}}" width="100" height="100">
				<a class="btn btn-primary" href="/uploads/{{doc.name}}" target="_blank">Show Pdf</a>
				<a href="{{ path('user_delete_document', {id: doc.id})}}" class="btn btn-danger" data-delete data-token="{{ csrf_token('delete' ~ doc.id )}}">Supprimer</a> 
			{% endfor %}
		</div>
	</div>
{% endblock %}
